<!DOCTYPE html>

<html>
<head>
<title>Playlists</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('static/images/demo/backgrounds/jujukebox.jpg');">
  <div class="wrapper">
    <div id="pageintro" class="hoc clear">
      <article>
      </article>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="./">Home</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="btmspace-50 center">
      <h3 class="btmspace-10">PLAYLISTS</h3>
      </div>
    <ul class="nospace clear services">
      <li class="one_quarter first"><a href="/Pisero">
        <figure><img src="static/images/demo/gallery/JoaoGomes_1.png" alt="">
          <figcaption>Pisero</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="/Sertanejo">
        <figure><img src="static/images/demo/gallery/sertanejo.png" alt="">
          <figcaption>Sertanejo</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="Lovesongs">
        <figure><img src="static/images/demo/gallery/love_songs.png" alt="">
          <figcaption>Love Songs</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="Us">
        <figure><img src="static/images/demo/gallery/us.jpg" alt="">
          <figcaption>Us</figcaption>
        </figure>
        </a></li>
    </ul>

<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="layout/scripts/gmaps.js"></script>
</body>
</html>
