{% extends 'layout.html' %}
{% block body %}
<style>
body {
   margin: 0;
}
#index-jumbotron {
    background-image: url(static/images/banner.jpg);
    background-size: cover;
    padding-bottom: 46.128%; /* <- This value should be equal to height / width */
}
</style>
<div class="jumbotran text-center">
	<h1>Bem vindo ao Playlist Player</h1>
	<p class="lead"> Mais um projetinho sem noção nascido de uma ideia louca.</p>
	{% if session.logged_in==NULL %}
	<a href="/playlists" class="btn btn-primary btn-lg">Ver Playlists</a>
	{% endif %}
</div>
<div id="index-jumbotron"></div>
{% endblock %}